body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  width: 90%;
  max-width: 1000px;
  height: 80vh;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.left-side {
  flex: 1;
  background: radial-gradient(circle at center, #3498db, #0f2027);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-large {
  width: 60%;
  max-width: 250px;
}


.right-side {
  flex: 1;
  background-color: #10141a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
 
  border-radius: 16px;
  padding: 40px;
  width: 320px;
  text-align: center;

}

.login-box h2 {
  margin-bottom: 8px;
  color: #fff;
}

.subtitle {
  color: #ccc;
  font-size: 13px;
  margin-bottom: 25px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 500;
  color: #ddd;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  background-color: #1e2732;
  color: #fff;
}

input::placeholder {
  color: #aaa;
}

input:focus {
  outline: 2px solid #3b82f6;
  background-color: #24303f;
}

.error {
  color: #f87171;
  font-size: 13px;
  margin-bottom: 10px;
}

.forgot {
  display: block;
  text-align: right;
  color: #3b82f6;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 20px;
}

.forgot:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  background: linear-gradient(90deg, #3b82f6, #60a5fa);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #2563eb, #3b82f6);
  transform: scale(1.03);
}

.footer {
  font-size: 11px;
  color: #aaa;
  margin-top: 25px;
  line-height: 1.4;
}
